<div id="viewer" class="font-d" *ngIf="post$|async as post">
    <div class="flex justify-start items-center mb-2">
      <a routerLink="/" class="mr-4">
          <i class="fa-solid fa-chevron-left text-xl md:text-2xl"></i>
      </a>
      <div class="font-p font-bold text-2xl lg:text-3xl">{{post.title}}</div>
    </div>

    <div class="font-c text-sm xl:text-base text-gray-500 flex justify-start items-center">
      <a [routerLink]="['/categories', post.category.id]" class=" hover:bg-blue-500 hover:text-white mr-2">
        {{post.category.title}} 
      </a>
      <img src="https://em-content.zobj.net/thumbs/320/openmoji/338/stopwatch_23f1-fe0f.png" class="w-4 h-4 mr-0.5 mt-0.5"/>
      <span class="font-d">
        {{post.createdAt.toDate()|date}}
      </span>
    </div>
    <p class="mt-4">{{post.description}}</p>
    <div class="mt-4" [innerHTML]="post.content"></div>
</div>
<br/>
<div id="disqus_thread"></div>
<app-loading></app-loading>
