<div class="font-p">
    <div class="font-c text-xl md:text-2xl 2xl:text-3xl">Blog Manager ⚙️</div>

    <div class="relative h-[40px] md:h-[50px] bg-[#2a2551] rounded-lg md:rounded-xl mt-4">
        <div id="tabActiveBox" class="absolute left-0 h-full w-[34%] bg-[#3a3471] rounded-lg md:rounded-xl border-4 border-[#2a2551] transition-all delay-75"></div>
        <div id="tabButtonBox" class="absolute w-full h-full font-p flex justify-around text-sm md:text-lg text-gray-300">
            <button id="categoryBtn" class="flex-1" routerLink="/admin/category-manager">카테고리</button>
            <button id="postBtn" class="flex-1" routerLink="/admin/post-manager">포스트</button>
            <button id="musicBtn" class="flex-1">음악</button>
        </div>
    </div>

    <!-- <app-category-manager *ngIf="selectedTab === 'CATEGORY'"></app-category-manager>
    <app-post-manager *ngIf="selectedTab === 'POST'"></app-post-manager> -->
    <router-outlet></router-outlet>
</div>
