<!-- BACKGROUND THEME WRAP -->
<div class="relative h-screen p-20 text-white bg-gradient-to-br from-indigo-900 via-purple-900 to-pink-900">

  <!-- BACKGROUND ITEMS -->
  <img src="assets/images/party.png" class="absolute w-32 h-32 left-20 top-20" />

  <!-- BACKGROUND BLUR WRAP -->
  <div class="fixed inset-0 flex flex-col items-center justify-start overflow-hidden overflow-y-auto backdrop-blur-sm">

    <!-- APP WRAP  -->
    <div class="w-full md:max-w-[800px] 2xl:max-w-[1000px] p-1 md:p-4">

      <!-- HEADER -->
      <header class="px-2 my-4 2xl:my-6">
        <div class="flex justify-between">
          <div class="flex items-start">
            <!-- SIDE MENU BUTTON -->
            <a class="mr-4" routerLink="/menu">
              <i class="text-lg fa-solid fa-bars md:text-xl"></i>
            </a>
            <a routerLink="/" class="text-xl font-c md:text-2xl">
              <div>Develop of</div>
              <div class="flex items-center">
                  <div class="mr-2">the day</div>
                  <img src="assets/images/cheese.png" class="w-4 h-4 md:w-6 md:h-6">
              </div>
          </a>
          </div>

          <div>
              <a href="https://gitlab.com/const.gjb" target="_blank" class="mr-6">
                  <i class="text-lg fa-brands fa-gitlab md:text-xl"></i>
              </a>
              <a href="" target="_blank">
                  <i class="text-lg fa-brands fa-github-alt md:text-xl"></i>
              </a>
          </div>
        </div>
      </header>

      <!-- VIRTAUL ELEMENT WRAP -->
      <div class="relative h-auto content">

        <!-- APP CONTENT -->
        <div class="min-h-screen bg-[#1e1a3d] rounded-[15px_225px_15px_255px/255px_15px_225px_15px] shadow-2xl p-6 md:p-10 lg:p-16 fond-d text-gray-200">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="pl-2 mt-4 mb-0 text-sm 2xl:my-10 md:text-base 2xl:text-xl font-c">
        <div class="flex items-center justify-start">
          <span class="mr-2">Created By Goraebob</span>
          <div>
            <img src="assets/images/party.png" alt="party image" class="w-4 h-4 mb-2 md:w-6 md:h-6">
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>