<!-- BACKGROUND THEME WRAP -->
<div [id]="theme$ | async" class="relative h-screen p-20">
  
  <app-particle></app-particle>

  <!-- BACKGROUND BLUR WRAP -->
  <div
    id="appBackground"
    class="fixed inset-0 flex flex-col items-center justify-start overflow-hidden overflow-y-auto"
  >
    <!-- APP WRAP  -->
    <div class="w-full md:max-w-[820px] p-1 md:p-4">
      <!-- HEADER -->
      <header class="px-2 my-4 2xl:my-6 transition-all duration-200">
        <div class="flex justify-between">
          <a routerLink="/" class="text-xl font-bold font-c md:text-2xl">
            Develop of<br/>the day
          </a>
          

          <div>
            <a href="https://gitlab.com/const.gjb" target="_blank" class="mr-6">
              <i class="text-lg fa-brands fa-gitlab md:text-xl"></i>
            </a>
            <a href="" target="_blank">
              <i class="text-lg fa-brands fa-github-alt md:text-xl"></i>
            </a>
          </div>
        </div>
      </header>

      <!-- APP BACKGROUND EFFECT WRAP -->
      <div
        class="section-wrap relative h-auto rounded-[255px_15px_225px_15px/15px_225px_15px_255px] shadow-2xl"
      >
        <!-- APP CONTENT -->
        <section
          class="min-h-screen rounded-[15px_225px_15px_255px/255px_15px_225px_15px] shadow-2xl p-6 md:p-10 lg:p-16 fond-d"
        >
            <router-outlet></router-outlet>
        </section>
      </div>

      <!-- FOOTER -->
      <footer
        class="pl-2 mt-4 mb-0 text-sm 2xl:my-10 md:text-base 2xl:text-xl font-c"
      >
        <div class="flex items-center justify-start">
          <span class="mr-2">Created By Goraebob</span>
          <div>
            <img
              src="assets/images/party.png"
              alt="party image"
              class="w-4 h-4 mb-2 md:w-6 md:h-6"
            />
          </div>
        </div>
      </footer>
    </div>
  </div>

  <app-decorate-box></app-decorate-box>
  <app-modal></app-modal>
</div>
