<div class="font-d">
  <div class="flex justify-start items-center text-xl md:text-xl xl:text-2xl font-bold mb-2">
    <span class="mr-1">카테고리</span>
    <img src="https://em-content.zobj.net/thumbs/320/microsoft/310/crystal-ball_1f52e.png" class="w-6 h-6"/>
  </div>
  <div class="flex flex-wrap font-p mb-10">
    <a
      class="font-c px-2 py-1 mr-2 mb-2 category-tag text-xs lg:text-sm hover:bg-blue-500 hover:text-white"
      *ngFor="let category of categories$|async"
      [routerLink]="['/categories', category.id]"
    >
      {{category.title}}
    </a>
  </div>

  <div class="flex justify-start items-center text-xl md:text-xl xl:text-2xl font-bold">
    <span class="mr-1">
      포폴 스토어
    </span>
    <img src="https://em-content.zobj.net/thumbs/320/microsoft/310/joystick_1f579-fe0f.png" class="w-6 h-6"/>
  </div>
  <div class="text-xs md:text-sm mb-4">다양한 프로젝트들이 모여있어요~<div>
  <a routerLink="/admin" class="rounded-xl h-[100px] md:h-[200px] mb-10 overflow-hidden flex justify-center items-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/develop-of-the-day.appspot.com/o/images%2F1678289488351.jpg?alt=media&token=6201e056-df7c-4a7e-85cd-ebcbb96797f4" class="hover:scale-125 transition-all duration-700"/> 
  </a>

  <div class="flex justify-start items-center text-xl md:text-xl xl:text-2xl font-bold mb-2">
    <span class="mr-1">최근 글 목록</span>
    <img src="https://em-content.zobj.net/thumbs/320/google/350/scroll_1f4dc.png" class="w-6 h-6"/>
  </div>

  <div *ngFor="let post of latestPosts$|async" class="mb-6">
    <div class="text-sm xl:text-base text-gray-500 flex justify-start items-center">
      <a [routerLink]="['/categories', post.category.id]" class="hover:bg-blue-500 hover:text-white font-c mr-2">
        {{post.category.title}} 
      </a>
      <img src="https://em-content.zobj.net/thumbs/320/openmoji/338/stopwatch_23f1-fe0f.png" class="w-4 h-4 mr-0.5 mt-0.5"/>
      <span class="font-d">
        {{post.createdAt.seconds|date:'yyyy.mm.dd'}}
      </span>
    </div>
    <a [routerLink]="['/posts', post.id]">
        <h2 class="text-2xl 2xl:text-3xl">{{post.title}}</h2>
        <div class="text-base xl:text-lg">{{post.description}}</div>
    </a>
  </div>
</div>
