<div class="mt-6">
    <div class="mb-4">플레이리스트</div>
    <div class="flex w-full p-2">


        <div id="musicWidget" class="flex flex-col items-start w-full p-4 rounded-xl">
            <div class="flex justify-start w-full">
                <div class="min-w-[100px] w-[100px] h-[100px] rounded-full mr-4 overflow-hidden relative duration-[10] transition-all" [ngClass]="{'animate-custom-spin': isPlaying}">
                    <img [src]="selectedMusic.thumbnail" class="w-full h-full" />
                    <div class="absolute inset-0 flex justify-center items-center rounded-full">
                        <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex items-center justify-end w-full">
                        <i class="fa-solid fa-minus cursor-pointer" (click)="onVolumeDown()"></i>
                        <div class="mx-3 font-bold">
                            <span class="text-lg">
                                {{volume}}
                            </span>
                        </div>
                        <i class="fa-solid fa-plus cursor-pointer" (click)="onVolumeUp()"></i>
                    </div>
                    <div>No. {{selectedMusic.id}}</div>
                    <div class="text-lg font-bold">{{selectedMusic.title}}</div>
                </div>
            </div>
            <br/>
            <div class="flex justify-between items-center w-full px-6">
                <i class="fa-solid fa-backward-step text-lg cursor-pointer" (click)="onPlayPreviousMusic()"></i>
                <i *ngIf="!isPlaying" class="fa-solid fa-play text-2xl cursor-pointer" (click)="onPlayCurrentMusic()"></i>
                <i *ngIf="isPlaying" class="fa-solid fa-pause text-2xl cursor-pointer" (click)="onPaused()"></i>
                <i class="fa-solid fa-forward-step text-lg cursor-pointer" (click)="onPlayNextMusic()"></i>
            </div>
        </div>
    </div>
</div>
