<form [formGroup]="formGroup" (submit)="submitForm()">
  <div class="flex">
    <input
      type="text"
      placeholder="제목"
      class="text-2xl lg:text-3xl w-full font-d"
      formControlName="title"
    />
    <select
      type="text"
      [selectedIndex]="0"
      class="rounded-md p-2 text-gray-500 text-xs"
      placeholder="포스트 제목을 입력해주세요"
      formControlName="categoryId"
    >
      <option [value]="null">카테고리를 선택하세요.</option>
      <option *ngFor="let category of categories$|async" [value]="category.id">
        {{category.title}}
      </option>
    </select>
  </div>
  <textarea
    type="text"
    placeholder="간단한 설명"
    class="text-base lg:text-lg w-full font-d mt-2"
    formControlName="description"
    rows="1"
  ></textarea>

  <div class="mt-6" *ngIf="uploadedImages.length">
    <div
      class="p-2 rounded-md bg-gray-100 text-xs mt-2 flex"
      *ngFor="let image of uploadedImages"
    >
      <div
        class="cursor-pointer hover:text-blue-500 overflow-hidden truncate"
        (click)="copyToClipboard(image)"
      >
        {{image}}
      </div>
      <div class="w-full text-end">
        <span
          class="p-4 text-red-400 cursor-pointer"
          (click)="removeImageFile(image)"
        >
          <i class="fa-regular fa-trash-can"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="NgxEditor__Wrapper !border-0 w-full mt-4">
    <div class="flex items-center justify-center w-full border-y border-gray-300">
        <div class="py-2">
            <label class="flex items-center text-sm hover:text-blue-500 cursor-pointer pr-2">
                <i class="fa-solid fa-folder-open"></i>
                <input
                  type="file"
                  class="hidden"
                  placeholder="이미지 링크 추가"
                  accept="image/png, image/jpeg, image/jpg, image/webp, image/gif"
                  (change)="onUploadImage($event)"
                />
              </label>
        </div>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    </div>
    <ngx-editor
      [editor]="editor"
      [placeholder]="'내용'"
      class="font-d !border-none"
      formControlName="content"
    ></ngx-editor>
  </div>
  <div class="flex justify-between items-center">
    <a routerLink="/admin/manager/posts">
      <i class="fa-solid fa-chevron-left text-xl md:text-2xl"></i>
    </a>
    <button
      class="text-xl md:text-2xl hover:text-blue-500"
    >
      발행
    </button>
  </div>
</form>
